<h1>Edit task</h1>

<%= render 'shared/errors', specific_resource: @task %>
<%= render 'form' %>

<%= link_to 'Show', project_tasks_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>
