<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New User', new_user_path, class: "btn btn-info" %>
  </div>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="col-sm-2">Name</th>
      <th class="col-sm-2">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
