<div class="page-header text-center">
  <h1>gCamp</h1>
  <h2><small>Your life, organized.</small></h2>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      <%= image_tag 'tablet.jpg', class: 'img-responsive' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <%= image_tag 'paper.jpg', class: 'img-responsive' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-primary panel-height">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Add users and manage relation to projects through memberships.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-height">
      <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Create, edit and delete projects.</li>
          <li>Projects have associated tasks and members.</li>
        </ul>
      </div>
    </div>
  </div>

</div>
