<div class="container">
  <div class="jumbotron">  <!-- rounded corners and no border OK? -->
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="http://www.imcreator.com/wp-content/uploads/2014/11/wpid-Featured_Picture157-1024x682.jpg"/>
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          Grouped by comments and lists. Just the way you like'em.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="http://www.imcreator.com/wp-content/uploads/2014/01/wpid-Featured_Picture38-620x413.jpg"/>
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Documents</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Upload</li>
            <li>Comment</li>
            <li>Revise</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="http://www.imcreator.com/wp-content/uploads/2014/11/wpid-Featured_Picture86-1024x682.jpg"/>
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
