<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "about.jpg", class:'img-responsive' %>
    </div>
    <div class="col-md-7">
      <p class="lead">We are dedicated to the makers, the creators, the risk-takers. We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
      <p class="lead">When we're not hard at work, we're hard at play - we're the loud ones in the bar, and ew're always the one shutting the place down. Human communication and collaboration are what drive us, and infuse every feature of gCamp.</p>
    </div>
  </div>
</div>
